* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
/* Global Css */
#header,
#features,
#sponsors,
#facts,
#footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 960px;
}
img {
  width: 100%;
}
.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn {
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  padding: 20px 25px;
  border: none;
  cursor: pointer;
  margin-bottom: 32px;
}
.btn-orange {
  background: #ff900e;
  color: #ffffff;
}
.btn-orange:hover {
  background: #ff8800;
}

/* Header Navbar */
#header .header-screen {
  min-height: 100vh;
}
#header #menu {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
#header #menu #title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  text-align: center;
  color: #131313;
}
#header #menu nav ul {
  display: flex;
}
#header #menu nav ul li {
  list-style: none;
}
#header #menu nav ul li a {
  text-decoration: none;
  padding: 0 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #424242;
}
#header #menu nav ul li a:hover {
  text-decoration: underline;
}
#header .header-text h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #131313;
  margin-bottom: 32px;
  padding-top: 86px;
}
#header .header-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
  margin-bottom: 32px;
}
#header #hero {
  margin-bottom: 130px;
}

/* Features (Header) */
#features {
  /* margin: 0 85px; */
  position: relative;
  margin-bottom: 130px;
}
/* button only for Features */
#features #features-10-year-btn {
  position: absolute;
  bottom: 0;
}
#features #features-10-year-btn .bigger-text p {
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
#features #features-10-year-btn .bigger-text {
  /* media query will change for container size 1440px. This style for (max container 960px) */
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  color: #ffffff;
}
#features #features-header,
#features #features-header .features-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#features #features-header .features-gallery,
#features #features-header .features-summary {
  margin-bottom: 130px;
}
#features #features-header .features-gallery {
  gap: 24px;
}
#features #features-header .features-summary {
  padding: 0 35px;
  display: flex;
  justify-content: start;
  align-items: center;
}
#features #features-header .features-summary h2 {
  font-size: 45px;
  line-height: 53px;
  padding: 24px;
  padding-left: 0;
}
#features #features-header .features-summary h2 .light {
  font-weight: 500;
  color: #727272;
}
#features #features-header .features-summary h2 .dark {
  font-weight: 700;
  color: #131313;
}
#features #features-header .features-summary h2 .orange {
  font-weight: 700;
  color: #ff900e;
}
#features #features-header .features-summary p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 32px;
}

/* Features (details) */
#features #features-details {
  display: grid;
  grid-template-columns: 1fr 500px;
  align-items: center;
}
#features #features-details .details-summary .details-header h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  border-left: 5px solid #ff900e;
  padding-left: 21px;
  margin-bottom: 24px;
}
#features #features-details .details-summary .details-header p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
#features #features-details .details-summary .features-item {
  margin-top: 30px;
  padding: 30px 33px;
}
#features #features-details .details-summary .features-item h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #131313;
}
#features #features-details .details-summary .features-item h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding-top: 10px;
  color: #727272;
}

/* Facts */
#facts {
  margin-bottom: 130px;
}
#facts .container {
  display: flex;
  flex-direction: column;
}

#facts .title h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  margin-bottom: 24px;
}
#facts .title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 100px;
}

#facts .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#facts .content .facts-item {
  border: 1px solid #ff900e;
  border-radius: 8px;
  height: 240px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#facts img {
  width: 45px;
  height: 45px;
}
#facts h4 {
  font-weight: 600;
  font-size: 45px;
  line-height: 53px;
  text-align: center;
  color: #424242;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
#facts p {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #727272;
  margin: 0;
  padding: 0;
}

/* Sponsors */
#sponsors,
#sponsors .title {
  margin: 50px 0;
}
#sponsors .title h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  text-align: center;
}
#sponsors .title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
  margin-top: 24px;
  margin-bottom: 50px;
}
#sponsors .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
}

#sponsors .content img {
  width: 166px;
  height: 50px;
  filter: grayscale(1);
  cursor: pointer;
}
#sponsors .content img:hover {
  filter: none;
}

/* Footer */
#footer {
  padding: 40px 0;
  margin: 130px 0;
  background: #fff4e7;
  border-radius: 8px;
}
#footer p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #424242;
}

/* Responsive  */
@media only screen and (min-width: 320px) and (max-width: 959px) {
  .container {
    width: 100%;
  }
  /* Header */
  #header #menu {
    flex-direction: column;
    text-align: center;
  }
  #header .header-text h2 {
    font-size: 35px;
    line-height: 35px;
  }
  #features #features-header {
    grid-template-columns: 1fr;
  }
  #features #features-details {
    grid-template-columns: 1fr;
  }
  #features #features-details .banner {
    margin-top: 20px;
  }
  #features #features-header .features-summary {
    padding: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  body {
    overflow-x: hidden;
  }
}
